---
const { items } = Astro.props;
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div id="description"></div>

<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

<div id="mainGallery" class="swiper">
  <div class="swiper-wrapper">
    {items.map((item, index) => (
      <div class="swiper-slide">
        <img 
          loading="lazy"
          data-name={item.title}
          data-description={item.text}
          data-index={index}
          src={'https://cms.computomanzia.link/storage/'+item.image}
        />
        <p class="descriptionMobile">{item.title}<br>{item.text}</p>
      </div>
    ))}
  </div>
</div>

<script>
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';

  let swiper;
  let isMobile = window.innerWidth <= 1000;

  function initSwiper() {
    let newIsMobile = window.innerWidth <= 1000;
    
    if (newIsMobile !== isMobile) {
      if (swiper) {
        swiper.destroy(true, true);
        swiper = null;
      }
      isMobile = newIsMobile;
    }

    if (!swiper) {
      swiper = new Swiper('.swiper', {
        slidesPerView: isMobile ? 1 : 2,
        direction: isMobile ? 'vertical' : 'horizontal',
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    }

    if (!isMobile) {
      setupHoverEffect();
    }

    const gridImages = document.querySelectorAll('main img');
    
        gridImages.forEach(img => {
            img.addEventListener('click', (e)=> {
                let index = e.target.getAttribute('data-index')
                swiper.slideTo(index); 
                grid.style.display = 'none'
            });
        });

        
  }

  function setupHoverEffect() {
    const description = document.getElementById('description');

    document.addEventListener('mousemove', (e) => {
      description.style.left = `${e.clientX}px`;
      description.style.top = `${e.clientY}px`;
    });

    document.querySelectorAll('.swiper-slide img').forEach((img) => {
      img.addEventListener('mouseover', function () {
        description.innerHTML = `<span>${this.getAttribute('data-name')}</span><span>${this.getAttribute('data-description')}</span>`;
      });
    });
  }

  function handleResize() {
    initSwiper();
  }

  if (typeof window !== 'undefined') {
    window.addEventListener('load', initSwiper);
    window.addEventListener('resize', handleResize);
  }
</script>
